@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.fa-bookmark {
  padding-left: 5px;
}

.fa-mobile-screen {
  padding-left: 5px;
}

.announcements {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 30px;
    margin-left: 160px;
    padding-left: 340px;
    color: black;
  }
  
.description {
    font-size: small;
    height: 20px;
    margin-left: 160px;
    padding-left: 340px;
  }

  .post {
    margin-right: 370px;
    margin-top: 10px;
    background-color: green;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: medium;
    font-weight: bolder;
    color: white;
  }

  .table__main {
  margin: 20px 0px;
  font-size: 13px;
  width: 55%;
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  margin-left: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .react-bootstrap-table-pagination-total {
    padding-left: 8px;
  }

  .fa-circle-info {
    color: blue;
  }