.nav__black {
    height: 85px;
    font-size: medium;
    font-weight: 400;
  }
  
  .nav__logo {
    left: 20px;
    width: 80px;
  }
  
  .search__bar {
    width: 300px;
    padding-right: 100px;
    padding-left: 10px;
  }

  .navbar__admin {
    color: rgb(137, 241, 241);
    font-size: medium;
    padding-right: 50px;
  }

  .fa__icon {
      padding-right: 15px;
      color: gray;
  }

  .fa__icon2 {
    padding-right: 15px;
    color: gray;
}

.fa__icon3 {
  padding-right: 15px;
  color: lightgray;
}